* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background-image: url(../assets/image\ 1\ \(1\).jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
nav {
  display: flex;
  justify-content: center;

  
}
ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  width: 430px;
  margin-top: 115px;
  height: 93px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);;
  border-radius: 12px;
  position: relative;
}
ul::before{
  content: '';
  width: 88px;
  height: 88px;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  position: absolute;
  left: -40px;
  top: 50%;
}

ul::after{
  content: '';
  width: 88px;
  height: 88px;
  border-radius: 50px;
  border: 1px solid black;
  position: absolute;
  right: -40px;
  bottom: 50%;
}



ul img {
  width: 28px;
  height: 23px;
}
li{
  display: flex;
  align-items: center;
  color: white;
}
