
$font-family-base: "Open Sans", sans-serif;
$color-primary: rgba(103, 80, 164, 0.05);
$color-secondary: rgba(235, 222, 247, 1);
$color-text-default: #49454f;
$color-text-highlight: #381e72;
$border-radius-default: 16px;
$shadow-default: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px 0px rgba(0, 0, 0, 0.3);