*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.circle {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: yellow;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #E4019A;
    align-items: center;
    padding: 5px 20px;
    color: white;
}

ul {
    list-style: none;
}

.post {
    display: flex;
    align-items: center;
    border: 1px solid black;
    width: 900px;
    justify-content: space-between;
    padding: 10px;
    margin: 10px auto;
    gap: 20px;
}

p {
    border-bottom: 1px solid black;
    padding-bottom: 2px;
}

header ul{
    display: flex;
    gap: 10px;
}

