* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 1440px;
    height: 1024px;
    position: relative;
    background: url('./img/bg.png') center center no-repeat fixed;
    background-size: cover;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

.navbar {
    position: absolute;
    width: 437px;
    height: 93px;
    top: 98px;
    left: 503px;
    border-radius: 8px;
    color: white;
    background: #00000033;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.navbar::before {
    content: '';
    width: 88px;
    position: absolute;
    height: 88px;
    top: 48px;
    left: -45px;
    border-radius: 50%;
    border: 1px solid grey;

}
.navbar::after {
    content: '';
    width: 88px;
    position: absolute;
    height: 88px;
    top: -45px;
    right: -45px;
    border-radius: 50%;
    border: 1px solid grey;

}
.navbar ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.posts {
    position: absolute;
    width: 269px;
    height: 45px;
    top: 247px;
    left: 571px;
    gap: 0px;
    border-radius: 8px 8px 0px 0px;
    border: 2px;
    opacity: 0px;
    border: 2px solid #FFFFFF;
    background: #000000;
    color: white;
    display: flex;
    justify-content: center;
}

.posts h1 {

    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.05px;
    margin-top: 5px;
}

.quote {
    position: relative;
    width: 600px;
    height: 213px;
    top: 290px;
    left: 407px;
    gap: 0px;
    border-radius: 8px;
    border: 2px 0px 0px 0px;
    opacity: 0px;
    border: 2px solid #FFFFFF;
    background: #00000099;
    padding: 25px;
    max-width: 600px;

}

.quote h2 {
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.78px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
}

.quote p {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}

.buttons {
    width: 120px;
    margin: 0 auto;
    padding-top: 3px;
    display: flex;
    gap: 44px;
    position: absolute;
    left: 240px;
    bottom: 10px;
}

.buttons button {
    background-color: transparent;
    outline: none;
    cursor: pointer;
    border: none;

}


.notifications-container {
    position: fixed;
    top: 16px;
    right: 16px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.notification {
    display: flex;
    align-items: center;
    padding: 12px;
    gap: 12px;
    max-height: fit-content;
    border-radius: 12px;
    box-shadow: 0px 2px 4px 2px #00000059;
    animation: notificationOpen 0.3s ease;
    transform-origin: 100% 0;
}

.notification__icon {
    background-color: white;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification__close {
    align-self: start;
    margin-left: auto;
    color: white;
    cursor: pointer;
}

.notification__data {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: white;
}

.notification__title {
    font-size: 16px;
    font-weight: 500;
}

.notification__text {
    font-size: 14px;
}

.notification--success {
    background-color: rgb(63, 197, 63);
}

.notification--error {
    background-color: rgb(223, 44, 44);
}

@keyframes notificationOpen {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.modal{
    position: relative;
    width: 100%;
    height: 100vh;
    /* display: none; */
    background-color: rgba(0, 0, 0, 0.3);
}
.modal_window{
    width: 60%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}