*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 71px;
    padding: 96px 227px;
}
ul{
    list-style: none;
    margin-top: 8px;
    
}
.userItem{
    border: 1px solid black;
    padding: 13px 21px;
}
.text {
  margin-top: 24px;
  
}

.text span {
    border-bottom: 1px solid black;
    margin-right: 24px;
    line-height: 2;
    padding-bottom: 7px;
    height: fit-content;

   
    
}
.userAddress{
    display: flex;
    justify-content: flex-start;
}

