$maincolor: #333331;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: $maincolor;
}
.user__container{
    width: 800px;
    margin: 100px auto;
    border: #333331 1px solid;
    border-radius: 16px;
    background-color: white;
    padding: 10px;
}
.details_amount{
    background-color: $maincolor;
    color: white;
    padding: 8px;
    border-radius:  8px;
    margin: 2px 0px;
}